:root {
	--white : #ffffff;
	--black : #000000;
	--vlgray: #b6b6b6;
	--lgray: #c1c1c1;
	--mgray: #979797;
	--gray: #717171;
	--dgray: #070606;

	--x-small: 10px;
	--small: 12px;
	--medium: 14px;
	--mlarge: 16px;
	--large: 18px;
	--x-large: 20px;
	--xx-large: 27px;
	--xxx-large: 30px;
	--xxxx-large: 40px;
}
