<div id="home-wrap">
	<div class="text-wrap">
		<p>Welcome to the home page of</p>
		<h1>{{appName}}</h1>
		<p>Try the links to see how our SPA works</p>
		<ul>
			<a href="#!/generateusers"><li>Go to 'generateusers'</li></a>
			<a href="#!/generateusers/5"><li>Go to 'generateusers' with 5 as route parameter</li></a>
		</ul>
	</div>
</div>